aws_region   = "us-east-1"
aws_profile  = "hadar-pc" # use "" in GitHub Actions
project_name = "fringe-monitor"
notify_email = "hadarwaldman@gmail.com"

default_start_date = "2026-08-12"
default_end_date   = "2026-08-20"

full_scan_schedule = "cron(0 * * * ? *)"
watchlist_schedule = "rate(15 minutes)"
monitor_schedule   = "rate(3 minutes)"
